<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chat</title>
</head>
<body>
    <h1>Chat</h1>

    Hello Django

</body>
</html>

<!-- 한글 윈도우 : EUC-KR, CP949 <= 이 코딩으로 개발하던 시절이 있었어요.  -->
<!-- UTF-8 <= 대동단결 -->
<!-- UTF-16 인코딩으로 .gitignore 파일이 생선되신 상황 -->
<!-- 소스 파일 생성은 절대 메모장을 쓰지 마세요. <= 엉뚱한 인코딩으로 파일이 생성될 수 있어요. -->
<!-- 항상 소스파일은 vscode 등의 개발전용 편집기로 생성하세요. <= 항상 utf-8 인코딩으로 파일이 생성됩니다. -->

